.alert-flotante {
    position: fixed;
    top: 15vh;
    right: 5vw;
    z-index: 1050;
    min-width: 250px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    &.animar {
        animation: fadeInAlerta 0.6s ease-out;
    }
    &.desvanecer {
        animation: fadeOutAlerta 0.6s ease-in forwards;
    }
}

#alerta-envio.alert-success {
    background-color: $color-fondo !important;
    color: $color-primario !important;
    border-color: $color-primario !important;
}

#alerta-envio .btn-close {
    filter: invert(66%) sepia(78%) saturate(5974%) hue-rotate(140deg) brightness(104%) contrast(101%);
}

@keyframes fadeInAlerta {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutAlerta {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(30px);
    }
    }