ul {
    list-style: none;
    padding: 0;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.logo-navbar {
    height: 60px;
    width: auto;
}

.navbar-nav .nav-link {
    color: $color-primario !important;

    &:hover {
        color: $color-secundario !important;
    }
}

@include mobile {
    header {
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
