main {
    flex-grow: 1;
    padding: 20px;
    padding-bottom: 60px;
}

.caja-transparente {
    background: $color-blur;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    color: $color-secundario;
    box-shadow: $sombra-caja;
    backdrop-filter: $blur-caja;
    border: 1px solid $color-blur-borde;
    text-align: center;
}

h2 {
    color: $color-primario;
    font-family: $fuente-titulo !important;
    font-weight: bold;
    font-size: 1.5rem;
}

@include mobile {
    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .caja-transparente {
        margin: 10px;
        padding: 15px;
        font-size: 0.95rem;
    }
}
